<link rel="stylesheet" href="/css/store/store-registration.css">

<div class="form-container">
  <h2>Update User Profile</h2>
  <% if(error.length>0){ %>
      <div class="errorContainer">
        <% error.forEach(element => { %>
          <p><%= element.msg %></p>
        <% }); %>
        <div class="crossError"><i class="fa-solid fa-xmark"></i></div>
      </div>
    <% } %>
  <form id="storeForm" action="/edit-profile/<%= user._id %>?_method=PUT" method="post" enctype="multipart/form-data">
    <div>
      <label for="customerusername">User Name <span class="required">*</span></label>
      <input type="text" id="customerusername" value="<%= user.customerusername %>" name="customerusername" required>
    </div>

     <div>
      <label for="customerprofilephoto">Profile Photo <span class="required">*</span></label>
      <input type="file" id="customerprofilephoto" value="<%= user.customerprofilephoto %>" name="customerprofilephoto" accept="image/*" >
    </div>
    <div>
      <label for="whatsapp">WhatsApp Number <span class="required">*</span></label>
      <div class="phonenumber">
        <select id="selectcountryisd" name="countryisd">
          <option value="+974" selected>+974</option>
        </select>
        <input type="number" id="whatsapp" name="customerwhatsapp" value="<%= user.customerwhatsappnumber %>" placeholder="501234567" required>
      </div>
    </div>

    <div>
      <label for="customeraddressunitno"> Unit No. <span class="required">*</span></label>
      <input type="text" id="customeraddressunitno" value="<%= user.customerunitno %>" name="customerunitno" required>
    </div>
    <div>
      <label for="customeraddressbuildingno"> Building No. <span class="required">*</span></label>
      <input type="text" id="customeraddressbuildingno" value="<%= user.customerbuildingno %>" name="customerbuildingno" required>
    </div>
    <div>
      <label for="customeraddressstreetno"> Street No. <span class="required">*</span></label>
      <input type="text" id="customeraddressstreetno" value="<%= user.customerstreetno %>" name="customerstreetno" required>
    </div>
    <div>
      <label for="customeraddresszoneno"> Zone No. <span class="required">*</span></label>
      <input type="text" id="customeraddresszoneno" value="<%= user.customerzoneno %>" name="customerzoneno" required>
    </div>

    

    <div>
      <label for="customercountry">Country <span class="required">*</span></label>
      <select id="customercountry" name="customercountry" required>
        <option value="Qatar"<% if(user.customercountry=="Qatar"){ %>selected<% } %>>Qatar</option>
      </select>
    </div>
    <div>
      <label for="customercity">City <span class="required">*</span></label>
      <input id="customercity" value="<%= user.customercity %>" type="text" name="customercity" required>
    </div>

    <button class="submitBTN" type="submit">Update Profile</button>
  </form>
</div>



<script src="/js/storejs/store-registration.js"> </script>