<link rel="stylesheet" href="/css/store/store-registration.css">

<div class="form-container">
  <h2>  Registration Form</h2>
    <% if(error.length>0){ %>
      <div class="errorContainer">
        <% error.forEach(element => { %>
          <p><%= element.msg %></p>
        <% }); %>
        <div class="crossError"><i class="fa-solid fa-xmark"></i></div>
      </div>
    <% } %>
  <form id="userForm" action="/registration" method="post" enctype="multipart/form-data">
    <div>
      <label for="customerusername">User Name <span class="required">*</span></label>
      <input type="text" id="customerusername" <% if(oldData){ %> value="<%= oldData.customerusername %>" <% } %> name="customerusername" required>
    </div>

     <div>
      <label for="customerprofilephoto">Profile Photo <span class="required">*</span></label>
      <input type="file" id="customerprofilephoto" name="customerprofilephoto" accept="image/*" required>
    </div>

    <div>
      <label for="customeremail">Email Address <span class="required">*</span></label>
      <input type="email" id="customeremail" <% if(oldData){ %> value="<%= oldData.customeremail %>" <% } %> name="customeremail" required>
    </div>
    <div>
      <label for="whatsapp">WhatsApp Number <span class="required">*</span></label>
      <div class="phonenumber">
        <select id="selectcountryisd" name="countryisd">
          <option value="+974" selected>+974</option>
        </select>
        <input type="number" id="whatsapp" name="customerwhatsapp" <% if(oldData){ %> value="<%= oldData.customerwhatsapp %>" <% } %> placeholder="501234567" required>
      </div>
    </div>

    <div>
      <label for="customeraddressunitno"> Unit No. <span class="required">*</span></label>
      <input type="number" id="customeraddressunitno" <% if(oldData){ %> value="<%= oldData.customerunitno %>" <% } %> name="customerunitno" required>
    </div>
    <div>
      <label for="customeraddressbuildingno"> Building No. <span class="required">*</span></label>
      <input type="number" id="customeraddressbuildingno" <% if(oldData){ %> value="<%= oldData.customerbuildingno %>" <% } %> name="customerbuildingno" required>
    </div>
    <div>
      <label for="customeraddressstreetno"> Street No. <span class="required">*</span></label>
      <input type="number" id="customeraddressstreetno" <% if(oldData){ %> value="<%= oldData.customerstreetno %>" <% } %> name="customerstreetno" required>
    </div>
    <div>
      <label for="customeraddresszoneno"> Zone No. <span class="required">*</span></label>
      <input type="number" id="customeraddresszoneno" <% if(oldData){ %> value="<%= oldData.customerzoneno %>" <% } %> name="customerzoneno" required>
    </div>
    <div>
      <label for="customercountry">Country <span class="required">*</span></label>
      <select id="customercountry" name="customercountry" required>
        <option value="Qatar" selected>Qatar</option>
      </select>
    </div>
    <div class="dropdown-subcategory">
      <label for="customercity">City <span class="required">*</span></label>
      <input id="customercity" type="text" <% if(oldData){ %> value="<%= oldData.customercity %>" <% } %> name="customercity" required>
      <div class="dropdown-list" id="dropdown"></div>
    </div>
    <div>
      <label for="customerlocation">Customer Map Location <span class="required">*</span></label>
      <span class="showlocationdisplay"></span>
      <input type="hidden" id="customerlocation" name="customerlocation" <% if(oldData){ %> value="<%= oldData.customerlocation %>" <% } %> required>
      <div class="picklocation">
          <span >Select  location from Map</span>
      </div>
    
    </div>
    <div>
      <div class="passContainer">
      <label for="customerpassword">Login Password <span class="required">*</span></label>
      <input type="password" id="customerpassword" name="customerpassword" required>
      <i class="fa-solid fa-eye eyespass"></i> 
    </div>
    <p class="passCondition">Password must contain mininum 8 chars, at least one uppercase, at least one special character and one Number</p>
    </div>
    
    <div class="checkbox-container">
      <input type="checkbox" id="terms" required>
      <label for="terms" style="font-weight:normal;">
        By Clicking It You are Agree to Our All Terms and Condition
      </label>
    </div>

    <button class="submitBTN" type="submit">Register</button>
  </form>
  <div class="mapcontainer">
            <h3>Pick a Location</h3>
            <input
            id="searchBox"
            type="text"
            placeholder="Search location..."
            />
            <div id="map" ></div>
            <div class="confiremmaplocation">Confirm Selection</div>
  </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARvlErLwkpk5zgz5y_rq-JEJvVGQyftOs&libraries=places"></script>
<script src="/js/customerjs/customer-registration.js"> </script>