<link rel="stylesheet" href="/css/customercss/customer-profile.css">
<div class="customerprofilecontainer">
   
        <div class="profile-left-side">
        <div class="imageandname">
            <img src="/uploads/customers/<%= user.customerprofilephoto %>" alt="">
            <h2><%= user.customerusername %></h2>
        </div>
        <div class="customeraddress">
            <div><b>Email:</b> <%= user.customeremail %></div>
            <div><b>WhatsApp Number :</b> <%= user.customerwhatsapp %></div>
            <div><b><u>Address</u></b> </div>
            <div><b>City:</b>  <%= user.customercity %></div>
            <div><b>Country:</b>  <%= user.customercountry %></div>
            <div><b>Unit No.:</b>  <%= user.customerunitno %></div>
            <div><b>Building No.:</b> <%= user.customerbuildingno %></div>
            <div><b>Street No.:</b>  <%= user.customerstreetno %></div>
            <div><b>Zone No.:</b>  <%= user.customerzoneno %></div>
            <div class="editdelete">
                <a href="/edit-profile/<%= user._id %>"><i class="fa-solid fa-pencil"></i> Edit Profile</a>
                <form action="/delete-profile?_method=DELETE" method="POST"> <button type="submit">Delete Profile</button></form>
            </div>
        </div>
    </div>
    
    
    <div class="profile-right-side">
        <h4><b><u>Order Details</u></b></h4>
        <div class="orderdetails">
            <div class="ordercontainer">
                <div>
                    <p>Store Name</p>
                    <p>Store Id:</p>
                </div>
                <div>Grocery Item</div>
                <div>Total Price: 120 AUD</div>
            </div>
            <div class="ordercontainer">
                <div>
                    <p>Store Name</p>
                    <p>Store Id:</p>
                </div>
                <div>Grocery Item</div>
                <div>Total Price: 120 AUD</div>
            </div>
        </div>
    </div>
</div>