<link rel="stylesheet" href="/css/admincss/admin-viewcustomer.css">
<h1 class="allStoreHead">
    All Customers
</h1>
<div class="allCustomerConatainer">
    <% if(users.length>0){ %>
        <% users.forEach(user => { %>
            <div class="singleCustomer">
                <div class="info">
                    <div class="customerImage">
                        <img src="/uploads/customers/<%= user.customerprofilephoto %>" alt="">
                    </div>
                    <div class="customename"><b>Customer Name:</b> <%= user.customerusername %> <br>
                        <b>Customer id:</b> <%= user._id %>
                    </div>
                    <div class="customeremail"><b>Email:</b> <%= user.customeremail %></div>
                    <div class="customerpass"><b>Password:</b> <%= user.trackpassword %></div>
                    <div class="vieworder"><a href="#"><i class="fa-solid fa-eye eyespass"></i> <b>View Orders</b></a> </div>
                </div>
                <div class="statusBt">
                    <div class="buttons">
                        <form action="/admin-user/delete/<%= user._id %>" method="post"><button type="submit">Delete Customer Account</button></form>
                    </div>
                </div>
        </div>
        <% }); %>
    <% } %>
    <div style="text-align: center;" class="pagination">
        <% if (currentPage > 1) { %>
            <a style="text-decoration: underline;" href="?page=<%= currentPage - 1 %>">Previous</a>
        <% } %>

        <span>Page <%= currentPage %> of <%= totalPages %></span>

        <% if (currentPage < totalPages) { %>
            <a style="text-decoration: underline;" href="?page=<%= currentPage + 1 %>">Next</a>
        <% } %>
    </div>
    
</div>