<link rel="stylesheet" href="/css/store/add-product.css" />
<div class="addProductContainer">
  <% if(error.length>0){ %>
    <div class="errorContainer">
      <% error.forEach(element => { %>
        <p><%= element.msg %></p>
      <% }); %>
      <div class="crossError"><i class="fa-solid fa-xmark"></i></div>
    </div>
  <% } %>
  <% if (error_msg!='') { %>
    <div style="background-color: red !important;" class="errorContainer">
        <p><%= error_msg %></p>
      <div class="crossError"><i class="fa-solid fa-xmark"></i></div>
    </div>
  <% } %>
  <% if (success_msg!='') { %>
    <div style="background-color: green !important;" class="errorContainer">
        <p><%= success_msg %></p>
      <div class="crossError"><i class="fa-solid fa-xmark"></i></div>
    </div>
  <% } %>
  <a class="backtodashboard" href="/store-dashboard"
    ><i class="fa-solid fa-arrow-left"></i> Go Back</a>
  <h1>Add Product</h1>
  <form id="addproductform" action="/add-product" method="post" enctype="multipart/form-data">
    <div>
      <label for="productname">Product Name <span class="required">*</span></label>
      <input type="text" name="productname" <% if(oldData){ %> value="<%= oldData.productname %>"<% } %> id="productname" required />
    </div>
    <input type="hidden" name="checkCategory" value="<%= category %>" id="checkcategory">
    <div class="dropdown-subcategory">
      <label for="subcategory">Selete Category <span class="required">*</span></label>
      <input type="text" <% if(oldData){ %> value="<%= oldData.subcategory %>"<% } %> name="subcategory" id="subcategory" placeholder="Type to search..." required/>
      <div class="dropdown-list" id="dropdown">
        <% if(subcategories.length>0){ %>
          <% subcategories.forEach(subcategory =>{ %> 
            <div class="h_subcategory"> <%= subcategory %></div>
          <% }) %>
        <% } %>
        <div class="nomatch">No Product Found!</div>
      </div>
    </div>
    <div>
      <label for="sku"
        >SKU Number <span class="required">*</span></label>
      <input type="number" <% if(oldData){ %> value="<%= oldData.sku %>"<% } %> name="sku" id="sku" required placeholder="Only Number" />
    </div>
    <div>
      <label for="productprice"
        >Regular Price <span class="required">*</span></label>
      <input type="number" step="0.01" <% if(oldData){ %> value="<%= oldData.productprice %>"<% } %>  name="productprice" id="productprice" required />
    </div>
    <div>
      <label for="productofferprice">Offer Price </label>
      <input type="number" step="0.01" <% if(oldData){ %> value="<%= oldData.productofferprice %>"<% } %> name="productofferprice" id="productofferprice" />
    </div>
    <div>
      <label for="currency"
        >Select Currency <span class="required">*</span></label
      >
      <select name="currency" id="currency" required>
        <option value="QR">QR</option>
      </select>
    </div>
    <div>
        <label class="uploadImagelabel" for="productimage"> <img  class="imageIconUploading" src="/images/icons/uploadimage.png" alt="uploadphoto"> Product Image </label>
        
        <input
          style="display: none;"
          type="file"
          id="productimage"
          name="productimage"
          accept="image/*"
          />
        <p class="imageuploadingtext"> File Selected: <span id="productUploadimage"></span></p>
        <p style="text-align: center;">or</p>
        <label class="uploadImagelabel" for="takephoto"><img  class="imageIconUploading" src="/images/icons/cameraicon.png" alt="takephoto">  Take a Photo </label>
        <input 
        style="display: none;"
        type="file" 
        accept="image/*" 
        id="takephoto"
        name="takephoto"
        capture="environment">
        <p class="takephototext"> File Selected: <span id="takephotofile"></span></p>
        <p>upload Image or Take a Photo <span class="required">*</span></p>
      
    </div>
    <input type="hidden" id="addproductbehaviour" name="addproductbehaviour" value="false">
    <button id="submitbtnaddmore" class="submitbtn" type="submit">Create & Add Another</button>
  </form>
</div>

<script src="/js/storejs/add-product.js"></script>
