<link rel="stylesheet" href="/css/store/store-registration.css">
<% if(error.length>0){ %>
    <div class="errorContainer">
      <% error.forEach(element => { %>
        <p><%= element.msg %></p>
      <% }); %>
      <div class="crossError"><i class="fa-solid fa-xmark"></i></div>
    </div>
<% } %>
<% if (error_msg!='') { %>
    <div style="background-color: red !important;" class="errorContainer">
        <p><%= error_msg %></p>
      <div class="crossError"><i class="fa-solid fa-xmark"></i></div>
    </div>
<% } %>
<div class="form-container">
  <h2> Update Store Profile</h2>
  <form id="storeForm" action="/edit-store-profile/<%= store._id %>?_method=PUT" method="post" enctype="multipart/form-data">
    <div>
      <label for="storeName">Store Name <span class="required">*</span></label>
      <input type="text" id="storeName" value="<%= store.storeName %>" name="storeName" required>
    </div>
    <div>
      <label for="ownerName">Owner Name <span class="required">*</span></label>
      <input type="text" id="ownerName" value="<%= store.ownerName %>" name="ownerName" required>
    </div>

     <div>
      <label for="storePhoto">Store Photo </label>
      <input type="file" id="storePhoto" name="storePhoto" accept="image/*" >
    </div>

    <div>
      <label for="storeemail">Email Address <span class="required">*</span></label>
      <input type="email" value="<%= store.storeemail %>" id="storeemail" name="storeemail" required>
    </div>

    <div>
      <label for="whatsapp">WhatsApp Number <span class="required">*</span></label>
      <input type="tel" id="whatsapp" value="<%= store.whatsapp %>" name="whatsapp" placeholder="+971 50 123 4567" required>
    </div>

    <div>
      <label for="storeunitno"> Unit No. <span class="required">*</span></label>
      <input type="number" value="<%= store.storeunitno %>" id="storeunitno" name="storeunitno" required>
    </div>
    <div>
      <label for="storebuildingno"> Building No. <span class="required">*</span></label>
      <input type="number" id="storebuildingno" value="<%= store.storebuildingno %>" name="storebuildingno" required>
    </div>
    <div>
      <label for="storestreetno"> Street No. <span class="required">*</span></label>
      <input type="number" id="storestreetno" value="<%= store.storestreetno %>" name="storestreetno" required>
    </div>
    <div>
      <label for="storezoneno"> Zone No. <span class="required">*</span></label>
      <input type="number" id="storezoneno"  value="<%= store.storezoneno %>" name="storezoneno" required>
    </div>

    
    <input type="hidden" id="countryisocode" name="countryisocode">
    <div>
      <label for="country">Country <span class="required">*</span></label>
      <select id="country" name="country" required>
        <option value="Qatar" <% if(store.country=='Qatar'){ %>selected<%} %>>Qatar</option>
        <option value="Bahrain" <% if(store.country=='Bahrain'){ %>selected<%} %>>Bahrain</option>
        <option value="Kuwait" <% if(store.country=='Kuwait'){ %>selected<%} %>>Kuwait</option>
        <option value="Oman" <% if(store.country=='Oman'){ %>selected<%} %>>Oman</option>
        <option value="Saudi Arabia" <% if(store.country=='Saudi Arabia'){ %>selected<%} %>>Saudi Arabia</option>
        <option value="UAE" <% if(store.country=='UAE'){ %>selected<%} %>>United Arab Emirates</option>
      </select>
    </div>
    <div class="dropdown-subcategory">
      <label for="storecity">City <span class="required">*</span></label>
      <input id="storecity" value="<%= store.storecity %>" type="text" name="storecity" required>
      <div class="dropdown-list" id="dropdown"></div>
    </div>
    <div>
      <label for="storelocationmap">Store Google Map Location <span class="required">*</span></label>
      <input type="text" value="<%= store.storelocationmap %>" id="storelocationmap" name="storelocationmap" placeholder="google map url" required>
    </div>

    <div>
      <label for="storeopen">Store Opening Hours <span class="required">*</span></label>
      <input type="time" id="storeopen" value="<%= store.storeopen %>" name="storeopen" placeholder="e.g. 9 AM - 10 PM" required>
    </div>
    <div>
      <label for="storeclose">Store Closing Hours <span class="required">*</span></label>
      <input type="time" id="storeclose" value="<%= store.storeclose %>" name="storeclose" placeholder="e.g. 9 AM - 10 PM" required>
    </div>
    <div>
      <label for="homeDelivery">Home Delivery <span class="required">*</span></label>
      <select id="homeDelivery" name="homeDelivery" required>
        <option value="">Select</option>
        <option value="Available" <% if(store.homeDelivery=='Available'){ %>selected<%} %>>Available</option>
        <option value="Not Available" <% if(store.homeDelivery=='Not Available'){ %>selected<%} %>>Not Available</option>
      </select>
    </div>
  

    <button type="submit">Update Profile</button>
  </form>
</div>

<script src="/js/storejs/store-registration.js"> </script>