<link rel="stylesheet" href="/css/store/seller-dashboard.css">
<div class="banner_image_container">
    <div class="text_banner">
        <h1>Afseem</h1>
        <p>Find Your Product from Nearest Store</p>
    </div>
 </div>
<div class="dashboard_container">
    <div class="heading"><h1>Dashboard</h1></div>
    <div class="dashboardMenu">
        <a href="/masterdata">Master Data</a>
        <a href="/add-product">Add Product</a>
    </div>
</div>

<div class="allProducts">
    <h1>Products</h1>
    <div class="allproductContainer">
        <% if(products.length>0){ %>
            <% products.forEach((product)=>{ %>
                <div class="productContainer">
                    <div class="productImage">
                        <img src="/images/glossary_hero_image.jpg" alt="">
                    </div>
                    <h2><%= product.productname %></h2>
                    <span>Store Id: <%= product.store %></span>
                    
                    <% if(product.productofferprice){%>
                        <p class="productPrice">Price: <%= product.productprice %> <%= product.currency %></p>
                        <p class="productPrice">Offer Price: <%= product.productofferprice %> <%= product.currency %></p>
                    <% } else { %>
                        <p class="productPrice">Price: <%= product.productprice %> <%= product.currency %></p>
                    <% } %>
                    <p class="productStatus">subcategory: <span><%= product.subcategory %></span></p>
                    <div class="btnContainer">
                        <a href="/edit-product/<%= product._id %>"><i class="fa-solid fa-pencil"></i>Edit</a>
                        <form action="/product/<%= product._id %>?_method=DELETE" method="POST"> <button type="submit" class="deleteBtn">Delete</button></form>
                    </div>
                </div>
                <% }) %>
        <% } %>
    </div>
    
</div>